[Unit]
Description=Read-Write Filesystem Overlay
DefaultDependencies=false
RequiresMountsFor=/ /var/volatile

[Service]
Type=oneshot
ExecStart=/usr/bin/overlay add /etc 
ExecStart=/usr/bin/overlay add /usr
ExecStart=/usr/bin/overlay add /var/log
ExecStart=/usr/bin/overlay add /var/lib
ExecStart=/usr/bin/overlay add /lib

[Install]
WantedBy=sysinit.target
